<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>18915594395-0cq7o0ft4qtc64tsgedj17mocgpkc36h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.18915594395-0cq7o0ft4qtc64tsgedj17mocgpkc36h</string>
	<key>API_KEY</key>
	<string>AIzaSyAui7b6V8RPl1rrIiNxdSZaXT4nLQFpHj4</string>
	<key>GCM_SENDER_ID</key>
	<string>18915594395</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eonsubae.TwitterSwiftUITutorial</string>
	<key>PROJECT_ID</key>
	<string>twitterswiftuitutorial-88ae7</string>
	<key>STORAGE_BUCKET</key>
	<string>twitterswiftuitutorial-88ae7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:18915594395:ios:eada31830db3646985363e</string>
</dict>
</plist>